body {
  position: fixed;
  background-color: black;
  height: 100%;
  width: 100%;
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}

.bvt, .nt {
  margin-top: 1em;
}

#step-1 {
  padding-top: 10em;
}

#step-2 {
  padding-top: 2em;
}

#step-3 {
  position: relative;
}

#status-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
}

.calibration {
  margin-top: 2em;
  color: white;
}

#calibration-canvas {
  margin-top: 1em;
}
