body {
  position: fixed;
  background-color: white;
  height: 100%;
  width: 100%;
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
}

.bvt, .nt {
  margin-top: 1em;
}

#step-2 {
  padding-top: 2em;
}

#step-3 {
  position: relative;
}

#status-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  color: black;
}

.calibration {
  margin-top: 2em;
  color: black;
}

#calibration-canvas {
  margin-top: 1em;
}

#pause-glass, #instructions-glass {
  background-color: white;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  position: fixed;
  color: red;
  padding-top: 12em;
}

.instructions-template, .pause-template {
  font-size: 1.5em;
}

.version {
  position: absolute;
  top: 0;
  right: 0;
}
